<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Gallery
                </h2>
            </div>
        </div>
    </div>
</div>


<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <form action="" name="frm" method="post">
            <div class="row row-cards ">

                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">구인자</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">사업체명칭</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="business" placeholder="사업체명칭">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">소재지</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="guinJibunAddress" placeholder="소재지">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">대표자</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="guinName" placeholder="대표자">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">전화번호</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="guinPhoneNumber_1" placeholder="전화번호">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">업종</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="industry" placeholder="업종">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">구직자</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">성명</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gujigName" placeholder="성명">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">주소</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gujigJibunAddress" placeholder="주소">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">전화번호</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gujigPhoneNumber_1" placeholder="전화번호">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">생년월일</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="birthdate" placeholder="생년월일">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">계약내용</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">임금</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="pay" placeholder="임금">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">임금지급형태</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="wagePayment" placeholder="임금지급형태">
                                    <small class="form-hint">시급, 일급, 주급, 월급, 기타</small>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">소정근로시간</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="workingHours" placeholder="소정근로시간">
                                    <small class="form-hint">일 _시간, 주_시간</small>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">취업 장소</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="place" placeholder="취업 장소">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">종사자업무</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="worker" placeholder="종사자업무">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">근로계약기간</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="contractPeriod" placeholder="근로계약기간">
                                    <small class="form-hint">2024. 01.01 ~ 2024. 12. 30</small>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">기타</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gita" placeholder="기타">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">소개요금</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">구인자 부담액</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="guinBurden" placeholder="구인자 부담액">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">구직자 부담액</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gujigBurden" placeholder="구직자 부담액">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">구인자 부담 금액</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="guinBurdenPrice"
                                           placeholder="구인자 부담액">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">구직자 부담 금액</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gujigBurdenPrice"
                                           placeholder="구직자 부담액">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">회원 기간</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="duesDate" placeholder="회원 기간">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">구인자 월회비</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="guinDuesPrice" placeholder="구인자 월회비">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">구직자 월회비</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="gujigDuesPrice" placeholder="구직자 월회비">
                                </div>
                            </div>


                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">소개요금 지급일자</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="introductionFee"
                                           placeholder="소개요금 지급일자">
                                    <small class="form-hint">당일일시불지급. 월별분할지급 등 당사자간 정한 지급일자를 기입</small>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">비고 (기타 약정)</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="bigo" placeholder="비고">
                                    <small class="form-hint">소개 근로자의 중도퇴사, 일용근로자의 상용전환 등 다툼의 소지가 있는 사항을 명시적으로 기술</small>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">일자</label>
                                <div class="col">
                                    <input type="text" class="form-control" name="checkDate" placeholder="일자">
                                    <small class="form-hint">2024. 01.01</small>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <div class="card-footer bg-transparent mt-auto">
                <button type="button" name="frm_btn" id="frm_btn" class="btn btn-primary">저장</button>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script>
    $(function () {

        $("[name='frm_btn']").click(function(){
            $("[name='frm']").attr("action","/page/agreementSave");
            $("[name='frm']").attr("method","post");
            $("[name='frm']").submit();
        })




    });
</script>
