<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    취업 관리
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col d-flex flex-column">
                    <div class="card-header">

                    </div>
                    <div class="card-body">

                        <div class="card-body">
                            <div class="mb-3 row text-center">
                                <label class="col-3 col-form-label required">날짜</label>
                                <div class="col">
                                    <input class="form-control mb-2" placeholder="Select a date" id="datepicker-default" value="2020-06-20">
                                    <small class="form-hint">We'll never share your email with anyone else.</small>
                                </div>
                            </div>

                            <div class="mb-3 row text-center">
                                <label class="col-3 col-form-label required">구인자</label>
                                <div class="col">
                                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="구인자">
                                    <small class="form-hint">We'll never share your email with anyone else.</small>
                                </div>
                            </div>
                            <div class="mb-3 row text-center">
                                <label class="col-3 col-form-label required">구직자</label>
                                <div class="col">
                                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="구직자">
                                    <small class="form-hint">We'll never share your email with anyone else.</small>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="card-footer bg-transparent mt-auto">
                        <div class="btn-list justify-content-end">
                            <a href="#" class="btn">
                                Cancel
                            </a>
                            <a href="#" class="btn btn-primary">
                                Submit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>