<!-- Sidebar -->
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <img src="{{URL}}/resources/static/ewave_logo.png" width="110" height="32" alt="ewave_logo" >
            </a>
        </h1>
        <div class="navbar-nav flex-row d-lg-none">
                            <a href="{{URL}}/manager/logout" class="btn" target="_self" rel="noreferrer">

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"></path>
                                    <path d="M15 12h-12l3 -3"></path>
                                    <path d="M6 15l-3 -3"></path>
                                </svg>
                                LogOut
                            </a>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                {{menus}}
            </ul>
        </div>
<!--        <div class="nav-tabs-bottom" style="margin-block-end: 0px">-->

<!--            <div class="btn-list">-->
<!--                <a href="{{URL}}/manager/logout" class="btn" target="_self" rel="noreferrer">-->
<!--                    -->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
<!--                        <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"></path>-->
<!--                        <path d="M15 12h-12l3 -3"></path>-->
<!--                        <path d="M6 15l-3 -3"></path>-->
<!--                    </svg>-->
<!--                    LogOut-->
<!--                </a>-->

<!--            </div>-->
<!--        </div>-->
    </div>
</aside>